
        <section>
           
            <img src=" <%= bookDetails.image_url%>" alt="" srcset="" />
            <h2>
              <%= bookDetails.title%><br/>
      
            </h2>
            <h3>
              <%= bookDetails.author %> 
            </h3>
            <p><%= bookDetails.description%></p>
            <p>
              <%= bookDetails.isbn %>
            </p>
            <p>
              <%= bookDetails.bookshelf %>
            </p>
            <hr />
        </section>
      