<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/reset.css" />
    <link rel="stylesheet" href="styles/base.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <header>
      <h1 class="appTitle">Hello world</h1>
      <!-- <a href="/search">Search</a> -->
      <i id="burger" class="material-icons" onclick="burger()">menu</i>
      <i id="quit" class="material-icons" onclick="quit()">clear</i>
      <div id="links">
        <a href="/search/new">Search</a>
        
      </div>
    </header>
    <ul>
      <% books.forEach(book => {%> <% if (book.img.length > 0){%>

      <img src=" <%= book.img%>" alt="" srcset="" />
      <%} else{ %>
      <img src="https://i.imgur.com/J5LVHEL.jpg" alt="" srcset="" />
      <% }%>
      <h2>
        <%= book.title%><br />

      </h2>

      <h3>
        <%= book.author %> 
      </h3>

      <p><%= book.desc%></p>
      <p>
        <%= book.isbn %>
      </p>
      <p>
        <%= book.bookshelf %>
      </p>
      <a href="/edit">View</a>
      <hr />
      <%});%>
    </ul>
  </body>
</html>
