<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../layout/head') %> 
    <title>HOME</title>
  </head>
  <body>
    <header>
      <%- include('../layout/header')  %> 
    </header>

    <main>
      <a href="/showww">show</a>
<ul>
  
  <p>
    <%= dbRowsCount %>
  </p>
      <% dbContent.forEach(row => {%> 

        
        <img src=" <%= row.image_url%>" alt="" srcset="" />
        <h2>
          <%= row.title%><br />
          
        </h2>

      <h3>
        <%= row.author %> 
      </h3>

    
       <a href="/books/<%= row.id %> ">View Detials</a>
      <hr />
      <%});%>
    </ul>

    </main>
    <footer></footer>
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.js"></script> -->
    <script src="js/app.js"></script>
  </body>
</html>
